.ant-card-head{
    color: white;
}

.ant-notification{
    width: 27%!important;
}
.ant-form-item-label > label{
    color: white !important;

}
.ant-checkbox-wrapper{
    color: white !important;
}
.ant-layout-header{
    height: 50px !important;
    padding: 0 50px;
    line-height: 64px;
    background: #ffffff !important;


}
.ant-card-body{
    padding: 10px !important;
}

.ant-card  {
    border-radius: 3px;
}

#components-back-top-demo-custom .ant-back-top {

    bottom: 100px;
}
#components-back-top-demo-custom .ant-back-top-inner {

    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 4px;
    background-color: #1088e9;
    color: #1088e9;
    text-align: center;
    font-size: 20px;
}
.scroll-image{
    overflow: hidden;
}
.ant-carousel .slick-slide {
    text-align: center;
    /*height: 90%;*/

    line-height: 160px;
    background: #364d79;
    overflow: hidden;
}